<div class="info">
    <%= form_for [current_user, recipe] do |f| %>

        <div class="form-row">
          <div class="form-group col-md-6">
            <%=f.label :name %><br>
            <%=f.text_field :name, placeholder: "Recipe Name", class: "form-control-lg" %>
          </div>
          <div class="form-group col-md-6">
            <%=f.label :description %><br>
            <%=f.text_field :description, placeholder: "Description", class: "form-control-lg" %>
          </div>
        </div>
        <div class="form-group">
           <%=f.label :instructions %><br>
           <%=f.text_area :instructions, placeholder: "Instructions", class: "form-control-lg", style: "min-width: 100%" %>
        </div>

        <table>
          <thead>
            <tr>
              <th>Ingredient:</th>
              <th>Quantity:</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :recipe_ingredients do |recipe_ingredient| %>
              <%= recipe_ingredient.fields_for :ingredient do |ingredient| %>
                <tr>
                  <div class="form-group">
                    <td><%= ingredient.text_field :name, list: "ingredients_autocomplete", placeholder: "Ingredient Name", class: "form-control-sm" %>
                      <datalist id="ingredients_autocomplete">
                        <% Ingredient.all.each do |ing| %>
                          <option value="<%= ing.name %>">
                        <% end %>
                      </datalist>
                    </td>
                    <td>
                      <%= recipe_ingredient.text_field :quantity, placeholder: "How Much?", class: "form-control-sm" %>
                      <% if recipe_ingredient.object.persisted? %>
                         <%= recipe_ingredient.check_box :_destroy %>
                         <%= recipe_ingredient.label :_destroy, "Remove" %>
                      <% end %>
                    </td>
                  </div>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table><br>

        <%= f.submit submit, class: "btn btn-success btn-lg" %>
    <% end %>
</div>
