<%= f.fields_for :ingredient do |ingredient| %>
  <tr>
    <div class="form-group">
      <td><%= ingredient.text_field :name, list: "ingredients_autocomplete", placeholder: "Ingredient Name", class: "form-control-lg" %>
        <datalist id="ingredients_autocomplete">
          <% Ingredient.all.each do |ing| %>
            <option value="<%= ing.name %>">
          <% end %>
        </datalist>
      </td>
      <td>
        <%= f.text_field :quantity, placeholder: "How Much?", class: "form-control-lg" %>
        <% if f.object.persisted? %>
           <%= f.check_box :_destroy %>
           <%= f.label :_destroy, "Remove" %>
        <% end %>
      </td>
      <td>
        <%= f.hidden_field :_destroy %>
        <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, '#', id: 'remove_ingredient', class: "btn btn-outline-danger btn-rounded waves-effect btn-sm ml-2" %>
      </td>
    </div>
  </tr>
<% end %>
