<h1 class=" display-3 text-success font-weight-bold info"><%= @recipe.name %></h1>
<div id="like_box" class="d-inline">
    <%= render partial: 'likes/box', locals: { recipe: @recipe } %>
</div>
<div>
   <div class="d-inline-flex border rounded border-muted p-2 m-2">
     <%= render partial: 'dishes/form', locals: {recipe: @recipe, current_user: current_user} %>
     <div id="like_button">
      <%= render partial: 'likes/button', locals: { recipe: @recipe } %>
    </div>
    <% if @recipe.user == current_user %>
    <%= link_to "Edit Recipe", edit_user_recipe_path(current_user, @recipe), class: "btn btn-secondary btn-md border border-muted ml-3 align-middle"%>
    <%= link_to "Delete Recipe", user_recipe_path(current_user, @recipe), class: "btn btn-dark border btn-md border-muted ml-3 align-middle", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <%= link_to 'Recommend Substitution', new_recipe_substitution_path(@recipe, @substitution = Substitution.new ), class: "btn btn-light font-weight-bold btn-md border border-muted ml-3 align-middle"%>
    <%= link_to 'Back to Recipes Index', user_recipes_path(current_user), class: "btn btn-success btn-md border border-muted ml-3 align-middle" %>
   </div>
</div>

<div>
  <div class="info align-top">
    <h4><b> Description <b></h5>
    <h6><%= @recipe.description %></h6>
  </div>
</div>

<div>
  <ul class="list-group d-inline-block align-bottom my-2">
        <li class="list-group-item p-3">
        <h4><b> Instructions </b></h4>
        <h6><%= @recipe.instructions %></h6>
        </li>
  </ul>

</div>

<div>
    <div class="notes align-top">
      <ul class="list">
        <h4><b> Ingredients <b></h4><br>
        <table class="table">
          <% @recipe.recipe_ingredients.each do |ing| %>
              <tr><td><h5><i><li><%= ing.quantity %></i><span class="float-right ml-3"><strong><b><%= ing.ingredient.name %></span></li></strong></b></td></h5></tr>
          <% end %>
      </table>
      </ul>
    </div>

    <div id="new-substitution-form" class="d-inline">
    </div>

     <div class="notes_b align-top">
      <ul class="list_b">
        <span><h4><b>Ingredient Substitutions<b>
          <%= link_to(('<span><i class="fas fa-comment-medical"></i> &nbsp' + 'Recommend Substitution</span>').html_safe, new_recipe_substitution_path(@recipe, @substitution = Substitution.new ), id: "recommend-substitution", class: 'btn btn-outline-dark btn-md font-weight-bold float-right ml-2') %></span></h4><br>

          <% if @recipe.substitutions.empty? %>
            <h6><li> No One has Recommended Any Substitutions Yet! </li></h6>
          <% else %>
          <table class="table table-bordered">
            <tbody>
              <% @recipe.substitutions.each do |substitution| %>
                <tr>
                  <td><h5><i><li><%= substitution.quantity %></i><span class="float-right ml-3"><strong><b><%= substitution.ingredient.name %></span></li></strong></b></td></h5>
                  <td>
                    <h6>
                      <div class="center"><i class="fas fa-exchange-alt"></i></div>
                      <div class="center"> &nbsp; Replacing &nbsp; </div>
                    </h6>
                </td>
                  <td><h5 class="replaced-ingredient"><i><%= substitution.recipe_ingredient.quantity %></i><span class="float-right ml-2"><strong><b><%= substitution.recipe_ingredient.ingredient.name %></span></strong></b></td></h5>
                  <td>
                    <% if substitution.user == current_user %>
                      <h5 class="replaced-ingredient"><%= link_to "Delete", recipe_substitution_path(@recipe, substitution), class: "float-right m-auto btn btn-dark border btn-sm border-muted", method: :delete, data: { confirm: 'Are you sure?' } %></h5>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td colspan="4"><h6><b>Description: </b></h6>
                    <h6><%= substitution.description %></h6>
                  </td>
                </tr>
                <tr><td class="bg-dark p-1" colspan="4"></td></tr>
              <% end %>
            </tbody>
        </table>
      <% end %>
    </ul>
  </div>

</div>
