<% if @dishes.empty? %>
  <h3>You have not added any recipes to your dish plan!</h3>
<% else %>
  <h3>Your dishs</h3>

  <div class='recipe-container'>

  <% @dishs.each do |recipe| %>
    <div class="recipe-card">
      <%= image_tag recipe.image.thumb.url, class: 'recipe-img'%>
      <%= link_to recipe.name, recipe_path(recipe), class:'name' %>
      <p class='description'><%= recipe.description %></p>
      <p class='note'>&#x2605; <%= recipe.dishs.last.note %></p>
      <small><%= link_to "Delete", user_dish_path(current_user, recipe.dishs.ids), :confirm => "Are you sure?", :method => :delete %></small>
    </div>
  <% end %>

  </div>

  <h3>Grocery List</h3>
  <% @ingredients.each do |ingredient| %>
      <ul>
          <li><%= ingredient %></li>
      </ul>
  <% end %>
<% end %>
