<nav class="navbar navbar-expand-lg navbar-light text-bold" style="background-color: #62DDBD;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <strong><a class="navbar-brand" href="<%= user_path(current_user) %>">🍽 Fit Dish</a></strong>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= user_path(current_user) %>">Grocery List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= user_dishes_path(current_user) %>">Your Dishes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_user_recipe_path(current_user, @recipe = Recipe.new) %>">New Recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_ingredient_path(@ingredient = Ingredient.new) %>">New Ingredient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= user_recipes_path(current_user) %>">Recipes Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= ingredients_path %>">Ingredients Index</a>
      </li>
    </ul>
  </div>
  <div><a id="Log Out" class="btn btn-secondary btn-sm" <%= link_to "Log Out", logout_path, method: :post %></a></div>
</nav>
<br>
